header {
  background-color: orange;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
}

#adoption {
  display: flex;
}

#cat, #dog {
  display: flex;
  flex-direction: column;
  padding: 5%;
  flex-basis: 40%;
}

#adoption img {
  width: 100%;
  height: auto;
}
a:hover {
  color: yellow;
}

body {
  background-color: lightgray;
  font-family: helvetica;
}

#logo {
  max-width: 50%;
  height: auto;
}
