header {
  background-color: orange;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: orange;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
}
