header {
  background-color: orange;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
}

a:hover{
  color: yellow;

}

body{
  background-color: lightgray;
}

#logo{
  max-width: 50%;
  height: auto;
}
